* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245 245 245);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.nav_bar {
  display: flex;
  align-items: center;
  background-color: #3778c2;
  padding: 10px 10px;
  margin-bottom: 5%;
}

.nav_bar_container {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-between;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
  padding: 0;
  width: 50px;
}

.app-name {
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.nav-link {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 400;
}

.category-name {
  margin-top: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.username {
  color: whitesmoke;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.home-page {
  width: 100%;
  height: 100vh;
  background-color: rgb(245 245 245);
}

.welcome-greeting {
  font-size: 4.5rem;
  text-align: center;
  color: #434b54;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-logo {
  margin-bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.note {
  color: #3778c2;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-in-btn {
  width: 100%;
  background-color: #3778c2;
  border: none;
  margin: 0 5px;
  color: whitesmoke;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 40px;
}

.sign-up-btn {
  height: 40px;
  color: #3778c2;
  width: 100%;
  background-color: whitesmoke;
  border: none;
  margin: 0 5px;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sign-in-label {
  color: whitesmoke;
}

.scan-text {
  text-align: center;
  color: whitesmoke;
  font-size: 18px;
  font-style: italic;
}

.scan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 7rem;
  background-color: #5fb523;
}

.scan-line {
  border: 2px solid whitesmoke;
  width: 95%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
